extends layout

block content
  h1 Products
  form( action='/api/productorder', method="post") 
    input#myInput(type='text', onkeyup='filterName()', placeholder='Search for product name..')
    input#myInput(type='text', onkeyup='filterBrand()', placeholder='Search for brand name..')
    table#myTable
          thead
              tr
                th Name
                th EAN
                th Description
                th Price
                th Brand
                th Availabilitiy
                th Available Stock
                th Warehouse Stock
                th Number needed
                th View and edit historical price
          tbody
            each product in productList
              tr
                td= product.productName
                td= product.productEAN
                td= product.productDescription
                td= product.productPrice
                td= product.productBrand
                td= product.productAvailability
                td= product.availableStock
                input(type="hidden", name= product.productEAN, value = product.availableStock)
                td= product.warehouseStock
                td
                  input(type="number", name= product.productEAN, min= "0")       
                td       
                  form( action='/api/editProduct/'+product.productEAN, method="post")       
                     input(type="submit", value="Edit Price")
                     input(type="hidden", name= product.productEAN, value = product.productEAN)    
                input(type="hidden", name= product.productEAN, value = product.productName)
                input(type="hidden", name= product.productEAN, value = product.productPrice)
    input(type="submit", value="Submit Order")
    script.
      function filterName() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
      
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
    script.
      function filterBrand() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[4];
          if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }      
